.wrapper {
    display: flex;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #451d1d;
    margin-left: ;
    z-index: 1;
  }
  
  .content {
    flex: 1;
    margin-left: 240px;
    z-index: 2;
  }
  